.navbar-lewagon {
  justify-content: space-between;
  background-image: url("https://picsum.photos/200/300");
  background-size: cover;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

a.btn.btn-primary {
    margin-left: 20px;
    padding: 9px;
    border-radius: 50%;
    background-color: silver;
    border-color: white;
    font-size: 20px;
    font-style: italic;
  }
